body{
  background-color: #D6D0D9 ;
}




nav a {
  color: #D6D0D9;
  font-family:Codystar, cursive; 
  font-size: large;
  font-weight: bold;
  float: right;
  
}

 .navright{

margin-left: 60%;
}

.nav{
  
  width: 100%;
  background-color: #B86D7F;
  height: 10vh;
}

.nave{
  padding-top: 0.5%;
}

.float{
  float: right;
}


.clear{
  clear: both;
}

h1{
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-size:4em;

}

h2{
  font-family: 'Taviraj', serif;
}

p{
  font-family: 'Quattrocento Sans', sans-serif;
}

p em {
  font-size: larger;
}

.highlight{
  color: #B86D7F   ;
}

ul {
  font-family: 'Quattrocento Sans', sans-serif;
  list-style-image: url(/favicon_io/favicon-16x16.png) ;
}



